.card {
  border: 1px solid var(--ifm-color-gray-300);
  border-radius: 7px;
}

.title {
  background: url("/img/fire.svg") no-repeat 95% 50%;
  padding: 16px;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  border-top: 1px solid var(--ifm-color-gray-300);
  padding: 16px 16px 0 16px;
  position: relative;
}

.postTitle {
}

.postTitleLink {
  font-size: var(--ifm-h4-font-size);
}
