.postCard {
  margin-bottom: 32px;
}

.postImageLink {
  display: block;
  position: relative;
  padding-top: 52.3%;
  overflow: hidden;
  border-radius: 7px;
  box-shadow:
    rgba(0, 0, 0, 0.06) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 6px 0px,
    rgba(0, 0, 0, 0.09) 0px 3px 8px 0px;
}

.postImageLink:hover {
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 1px 4px 0px,
    rgba(0, 0, 0, 0.09) 0px 3px 8px 0px,
    rgba(0, 0, 0, 0.13) 0px 4px 13px 0px;
}

.postImage {
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-style: none;
}

.postTitle {
  margin-top: 16px;
}

.postTitleLink {
  color: var(--ifm-font-color-base);
}

.postDate {
  margin-bottom: 8px;
  letter-spacing: 0.08em;
  vertical-align: middle;
  color: var(--ifm-color-gray-500);
  font-size: 13px;
  line-height: 1.30769231;
}
